* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/pyvdcd2lnyk.png);
    background-repeat: no-repeat;
    max-width: auto;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
    overflow-x: hidden;
}
.container > * {
    border: 2px dashed blue;
}

.container {
    display: grid;
    grid-template-rows:
        minmax(80px, 112px)
        minmax(auto, auto)
        minmax(40px, 49px)
        minmax(300px, 438px)
        minmax(120px, 155px)
        minmax(600px, 1128px)
        minmax(600px, 1128px)
        minmax(600px, 1128px);

    grid-template-columns:
        minmax(150px, 211px)
        minmax(200px, 455px)
        minmax(250px, 576px);
    grid-template-areas:
    "one one one"
    "two three three"
    "two three three"
    "six four four"
    "six five five"
    "six five five"
	"seven seven seven"
	"eight eight eight";
}


img:nth-of-type(1) {
    display: none;
}
body {
    background-image: none;
    opacity: 1;
}


.box1 {
    grid-area: one;
	img {
		max-width: 175px;
		display: block;
	}
}

.box2 {
    grid-area: two;
    display: flex;
    align-items: stretch;
    flex-direction: column;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 600;
}
.box3 {
    grid-area: three;
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(https://www.myphone.kg/files/media/28/28501.jpg);
	display: flex;
	justify-content: center;
	align-items: center;

	h1 {
		color: white;
	}
}

.box4 {
    grid-area: four;
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}
.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}

.firstItemMenu {
    background-color: rgb(255, 31, 85);
    color: white;
    width: 100px;
    font-size: 20px;
    display: flex;
    min-height: 62px;
    min-width: 100%;
    border-bottom: 1px solid white
}

.secondItemMenu {
    color: white;
    background-color: rgb(42 54 61);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.insideSecondItem {
    display: flex;
    font-size: 20px;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
        flex-wrap: wrap;
        flex-direction: column;
}

.insideSecondItem li {
    white-space: nowrap;
    padding: 10px;
    border-bottom: 1px solid white
}

.navbar {
    display: contents;
        list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-transform: uppercase;
}

@media (max-width: 500px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-columns: 100%;
		grid-template-areas:
		"one seven eight"
		"two"
		"three"
		"four"
		"five"
		"six";
		gap: 5px;
	}
}
