* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/pyvdcd2lnyk.png);
    background-repeat: no-repeat;
    max-width: 1143px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}
.container > * {
    border: 2px dashed blue;
}

.container {
    display: grid;
    grid-template-rows: 111px 68px 49px 438px 155px 1128px ;
    grid-template-areas: 
    "one seven eight"
    "two two two"
    "three three three"
    "four four four"
    "five five five"
    "six six six";
    grid-template-columns: 211px 455px 576px;
}

.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
}
.box3 {
    grid-area: three;
}
.box4 {
    grid-area: four;
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}
.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}